---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Coaching";
---

<Layout>
  <h1>{pageTitle}</h1>
  <p>Details on how to sign up for one-on-one coaching sessions coming soon.</p>
</Layout> 