---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Coaching";
---

<Layout>
  <h1 class="text-4xl font-bold text-primary mb-4">{pageTitle}</h1>
  <p class="text-lg text-foreground">Details on how to sign up for one-on-one coaching sessions coming soon.</p>
</Layout> 